# Normalize line endings in the repo
* text=auto eol=lf

# Common text files
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.css  text eol=lf
*.scss text eol=lf
*.md   text eol=lf
*.json text eol=lf
*.sh   text eol=lf
*.sol  text eol=lf