/* default fallback; overwritten by stage() output on publish */
:root {
  --b1: 255 255 255;
  --bc: 0 0 0;
  --p: 16 185 129;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b1: 17 24 39;
    --bc: 255 255 255;
    --p: 99 102 241;
  }
}